<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Near Collisions Dashboard</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.1/chartjs-plugin-zoom.min.js"></script>
    
    <!-- Social Icons Style Sheet-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<header>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"><img src="../static/images/space.png" alt="Space" class="responsivelogo" width="50" height=""> </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="scatterplot.html">Scatter Plot</a></li>
              <li class="active"><a href="bubblechart.html">Bubble Chart</a></li>
   
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></span> Created by: Andrew King |  Paul Wang | Denise Okur | Dante Company</a></li>
           
              </ul>

        </div>
        </div>
        </nav>

</header>
<body>

    <div class="center">
        <div class="textcolor">
        <h1>NEAR COLLISIONS IN SPACE</h1>
        <p>Data collected using NASA's SBDB (small-body database) Close-Approach Data API</p>
        </div>
      </div>

    <div class="txtimg">
        <div class="learnimgsize">
          <img src="../static/images/bubblechart.jpg" alt="Weather" class ="responsive" width = "2000" height="">
        </div>  
          <div class="textcentered">
            <h1>BUBBLE CHART</h1>
          </div>
      </div>

      <!-- Bubble Chart Section-->

     
   
    <div class="center">
      <h1>Understanding The Chart</h1>
      <div class="textcolor">
      <p>The Bubble Chart below depicts those NEOs that will get the closest to Earth in 
        the next 50 years.</p><p> The X-Axis depicts how close the objects get to Earth and the 
        size of the circles represents the Magnitude of each object.</p>
        <p>For reference, the distance of the moon from the Earth is 0.002569 AU or around 384,399 km</p>
        <div class="textcolor">
          <div class="textcolor">
<div class="center">
<h1> To Zoom: Scroll Mouse button. To drag: Click left button</h1>
</div>
</div>

    </div>
    </div>
      
        <canvas id="chart2"></canvas>
      
    
    <div id="app">
      <v-app id="inspire" dark>
        <div>
          <v-data-table
            must-sort
            :headers="headers"
            :pagination.sync="pagination"
            :rows-per-page-items="pagination.rowsPerPageItems"
            :total-items="pagination.totalItems"
            :loading="loading"
            :items="items"
            class="elevation-1"
          >
            
          </v-data-table>
        </div>
      </v-app>

      <!-- End Bubble Chart section-->

 <!--Button back to top-->
 <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

 <script>

   /* BACK TO TOP BUTTON SECTION */
   //Get the button
   var mybutton = document.getElementById("myBtn");
   
   // When the user scrolls down 20px from the top of the document, show the button
   window.onscroll = function() {scrollFunction()};
   
   function scrollFunction() {
     if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
       mybutton.style.display = "block";
     } else {
       mybutton.style.display = "none";
     }
   }
   
   // When the user clicks on the button, scroll to the top of the document
   function topFunction() {
     document.body.scrollTop = 0;
     document.documentElement.scrollTop = 0;
   }

/* END BACK TO TOP BUTTON SECTION */

</script>

<script type="text/javascript" src="../static/js/plot_bubble.js"></script>


   <div class ="footer">
      
       <H2>NEAR COLLISIONS IN SPACE</H2>
       <P>Data collected using NASA's SBDB (small-body database) Close-Approach Data API</P>
       <p>Created by: Andrew King | Paul Wang | Denise Okur | Dante Company</p>
     </div>
     
<script src="{{ url_for('static', filename='plot_bubble.js') }}"></script>
</body>
</html>