<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Near Collisions Dashboard</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../static/css/stylesheet.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <!-- Social Icons Style Sheet-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">

</head>



    <!-- Nav Menu Section-->
<header>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>                        
            </button>
            <a class="navbar-brand" href="#"><img src="../static/images/space.png" alt="Space" class="responsivelogo" width="50" height=""> </a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="scatterplot.html">Scatter Plot</a></li>
              <li><a href="bubblechart.html">Bubble Chart</a></li>
       
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></span> Created by: Andrew King |  Paul Wang | Denise Okur | Dante Company</a></li>
           
              </ul>

        </div>
        </div>
        </nav>
 
        <div class="center">
            <div class="textcolor">
            <h1>NEAR COLLISIONS IN SPACE</h1>
            <p>Data collected using NASA's SBDB (small-body database) Close-Approach Data API</p>
            </div>
          </div>

    <!--End Nav Menu Section-->

    </header>
<body>

    <br>
    <div class="txtimg">
     
      <img src="../static/images/space4.jpeg" alt="Space" class ="responsive" width = "2000" height="">
    </div>

    </div>

    <br>

<!--The Graph Layout-->
<div class="textcolor">
<div class="center">
    <h1> LEARN ABOUT COLLISIONS</h1>
</div>
</div>


<div class="row">
  <div class="column">
    <a href="scatterplot.html">
      <img src="../static/images/scatterimg.png"
      alt = "Scatter Chart" height="500px" width="600px">
      <a href="scatterplot.html"> <button type="button" class="btn btn-outline-dark">Learn More</button> </a>
  </a>
  </div>


  <div class="column">
     <a href="bubblechart.html">
            <img src="../static/images/bubbleimg.png"
            alt = "Bubble Chart" height="500px" width="600px">
            <a href="bubblechart.html"> <button type="button" class="btn btn-outline-dark">Learn More</button> </a>
        </a>
  </div>
</div>

<BR>
   

<div class="txtimg">
  <div class="learnimgsize">
    <img src="../static/images/space5.jpeg" alt="Weather" class ="responsive" width = "2000" height="">
  </div>  
    <div class="textcentered">
      <h1>OUR LOCAL LANDSCAPE</h1>
    </div>
</div>

<br>
<div class="textcolor">
  <div class="center">    

    <h4>The local space surrounding earth has a multitude of comets, asteroids and various
        detritus, which are frequently at risk of colliding the Earth. NASA’s Jet Propulsion
        Laboratory has been </h4> <h4>tracking these various objects and plotting their future trajectories.
        These NEO’s (Near Earth Objects) are potentially hazardous to terrestrial life to varying
        degrees, and also populate our local space region. </h4>
    
        <h4>One astronomical unit (AU) is the distance between Earth and the Sun. This is around 150
        million kilometres or 8.3 light minutes.
        A small solar system body is considered to be a NEO </h4><h4>if it travels within 1.3 astronomical
        units (AU) of the Sun. The more dangerous of these bodies are refered as Potentially
        Hazardous Asteroids (PHA). These are defined by their potential to make threatening close
        approaches to the Earth. </h4>
    
        </div> 
</div>

<br>

<!-- SCRIPT SECTION-->




 
 <!--Button back to top-->
  <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

  <script>

    /* BACK TO TOP BUTTON SECTION */
    //Get the button
    var mybutton = document.getElementById("myBtn");
    
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};
    
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      document.body.scrollTop = 0;
      document.documentElement.scrollTop = 0;
    }

/* END BACK TO TOP BUTTON SECTION */

</script>

    <div class ="footer">
       
        <H2>NEAR COLLISIONS IN SPACE</H2>
        <P>Data collected using NASA's SBDB (small-body database) Close-Approach Data API</P>
        <p>Created by: Andrew King | Paul Wang | Denise Okur | Dante Company</p>
      </div>
      

</body>
</html>